body {
  font-size: 16px;
  background-color: #fff;
}

.container {
  max-width: 1770px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_2 {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {

}

.title {
  @extend %dmsans-bold;
  color: #191919;
  font-size: 36px;
  text-align: center;
  margin-top: 70px;
}

.button {
  @extend %rubik-medium;
  font-size: 15px;
  color: #fff !important;
  width: 200px;
  height: 60px;
  background-color: #a3bbc8 !important;
  padding: 0 100px 0 30px;
  position: relative;
}

.button::after {
  position: absolute;
  content: "";
  background-image: url('../images/arrow.png');
  width: 22px;
  height: 9px;
  top: 25px;
  right: 20px;
}

.button:focus {
  outline: 2px solid $button__focus;
}

.button:active {
  opacity: 0.7;
}

.menu {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 15px;
}

.menu__link {
  font-size: 14px;
  color: #8b8b8b;
  @extend %dmsans-bold;
}

.mixitup-control-active {
  color: #292929;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link:focus {
  outline: 2px solid #a3bbc8;
  border-radius: 5px;
}

.menu__link:active {
  opacity: 0.5;
}