$accent: #436372;
$footer__color: #1f2044;
$footer__color2: #868686;
$button__focus: #95b4c6; 


%dmsans-bold {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-medium {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-regular {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%rubik-medium {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-regular {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}