@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  border-radius: 5px;
  outline: 2px solid #a3bbc8;
}

.logo:active {
  opacity: 0.5;
}

.logo__text {
  @extend %rubik-medium;
  color: $accent;
  font-size: 36px;
  margin-left: 10px;
}

.menu__list {
  display: flex;
}

.menu__link {
  border-bottom: 2px solid transparent;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link:hover {
  opacity: 0.7;
  border-bottom: 2px solid #a3bbc8;
}

.menu__link:focus {
  border-radius: 3px;
  outline: 2px solid #a3bbc8;
}

.menu__link:active {
  opacity: 0.5;
}

.menu__link {
  color: $accent;
  font-size: 15px;
  @extend %rubik-medium;
}

.user__menu {
  display: flex;
  align-items: center;
}

.user__item:not(:last-child) {
  margin-right: 20px;
}

.user__link {
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px auto;

  &--num {
    position: absolute;
    top: -6px;
    left: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    @extend %dmsans-regular;
    font-size: 12px;
  }

  &--search {
    background-image: url('../images/icons/search.png');
    width: 16px;
    height: 16px;
  }

  &--heart {
    background-image: url('../images/icons/heart.png');
    width: 19px;
    height: 18px;
  }

  &--cart {
    background-image: url('../images/icons/cart.png');
    width: 19px;
    height: 17px;
  }

  &--krug {
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    transform: translateX(100%);
  }

  &--oval1 {
    width: 90px;
    height: 50px;
    background-color: #fcd7b6;
    transform: translateX(50%);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &--oval2 {
    width: 90px;
    height: 50px;
    background-color: #fcd7b6;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &--menu__btn {
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
    margin: 0;
    position: relative;
  }

  &--menu__dots {
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    display: block;
    border: 3px solid transparent;
    top: 22px;
    left: 23px;
    box-shadow: -10px -11px 0 0 white,
      10px 11px 0 0 white,
      -10px 11px 0 0 white,
      10px -11px 0 0 white,
      0 -11px 0 0 white,
      0 11px 0 0 white,
      10px 0 0 0 white,
      -10px 0 0 0 white;
  }
}

.user__link:hover {
  opacity: 0.7;
}

.user__link:active {
  opacity: 0.5;
}

.slider {
  height: 750px;
  background-color: #fcd7b6;
  align-items: center;
  background-image: url('../images/backsofa.png');
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;

  &__box {
    display: flex !important;
    justify-content: space-around;
    margin-top: 225px;
    padding: 0 175px;
  }

  &__info {
    max-width: 420px;
  }

  &__title {
    @extend %rubik-medium;
    text-transform: uppercase;
    font-size: 72px;
    margin-bottom: 15px;
    color: #243f4d;
  }

  &__text {
    @extend %rubik-regular;
    font-size: 18px;
    color: $accent;
    line-height: 1.7;
    margin-bottom: 45px;
    max-width: 365px;
  }

  &__btn {
    @extend %rubik-medium;
    font-size: 15px;
    color: #fff !important;
    width: 200px;
    height: 60px;
    background-color: #a3bbc8 !important;
    padding: 0 100px 0 30px;
    position: relative;
  }

  &__btn::after {
    position: absolute;
    content: "";
    background-image: url('../images/arrow.png');
    width: 22px;
    height: 9px;
    top: 25px;
    right: 20px;
  }

  &__btn:focus {
    outline: 2px solid $button__focus;
  }

  &__btn:active {
    opacity: 0.7;
  }

  &__picture {
    margin-top: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots button {
    margin-right: 12px;
    margin-top: 120px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fde3cc;
    @extend %rubik-medium;
    font-size: 10px;
    color: #708088;
  }

  .slick-active button {
    background-color: #fff;
    color: #243f4d;
  }
}

.footer {
  padding-top: 80px;
  padding-bottom: 40px;

  &__top {
    display: flex;
    margin-bottom: 40px;
  }

  &__info {
    margin-right: 65px;
  }

  &__services {
    margin-right: 180px;
  }

  &__account {
    margin-right: 200px;
  }

  &__logo {
    display: inline-flex;
    margin-bottom: 30px;
  }

  &__title {
    @extend %dmsans-bold;
    font-size: 16px;
    color: $footer__color;
    padding-bottom: 30px;
    text-transform: uppercase;
  }

  &__box {
    max-width: 240px;
  }

  &__info-address,
  &__info-phone,
  &__info-email,
  &__services-item,
  &__account-item {
    padding-bottom: 15px;
  }

  &__info-address:hover,
  &__info-phone:hover,
  &__info-email:hover,
  &__services-item:hover,
  &__account-item:hover {
    text-decoration: underline;
  }

  &__info-address:active,
  &__info-phone:active,
  &__info-email:active,
  &__services-item:active,
  &__account-item:active {
    opacity: 0.5;
  }

  &__info-link,
  &__services-link,
  &__account-link,
  .form__text {
    color: $footer__color2;
    font-size: 14px;
    @extend %rubik-regular;
  }
}

.form {
  &__text {
    padding-bottom: 45px;
  }

  &__field {
    margin-right: 15px;
    width: 115px;
    color: #234969;
    @extend %dmsans-regular;
    font-size: 12px;
    padding: 10px 0;
  }

  &__field:hover {
    text-decoration: underline;
  }

  &__field:focus {
    outline: 2px solid #a3bbc8;
  }

  &__field:active {
    opacity: 0.5;
  }

  &__button {
    padding: 15px 20px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 14px;
    @extend %dmsans-regular;
  }

  &__button:focus {
    outline: 2px solid $button__focus;
  }

  &__button:active {
    opacity: 0.7;
  }
}

.footer {

  &__down {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__down-text,
  &__link {
    color: $footer__color2;
    @extend %rubik-regular;
    font-size: 14px;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link:focus {
    border-radius: 3px;
    outline: 2px solid #a3bbc8;
  }

  &__link:active {
    opacity: 0.5;
  }

  &__menu {
    display: flex;
  }

  &__item {
    padding: 0 15px 0 15px;
    border-right: 1px solid $footer__color2;
  }

  &__item-line {
    border-right: 1px solid transparent;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dae4e9;
}




@import 'media';