@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  border-radius: 5px;
  outline: 2px solid #a3bbc8;
}

.logo:active {
  opacity: 0.5;
}

.logo__text {
  @extend %rubik-medium;
  color: $accent;
  font-size: 36px;
  margin-left: 10px;
}

.menu__list-header {
  display: flex;
}

.menu__link-header {
  border-bottom: 2px solid transparent;
}

.menu__item-header:not(:last-child) {
  margin-right: 30px;
}

.menu__link-header:hover {
  opacity: 0.7;
  border-bottom: 2px solid #a3bbc8;
}

.menu__link-header:focus {
  border-radius: 3px;
  outline: 2px solid #a3bbc8;
}

.menu__link-header:active {
  opacity: 0.5;
}

.menu__link-header {
  color: $accent;
  font-size: 15px;
  @extend %rubik-medium;
}

.user__menu {
  display: flex;
  align-items: center;
}

.user__item:not(:last-child) {
  margin-right: 20px;
}

.user__link {
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px auto;

  &--num {
    position: absolute;
    top: -6px;
    left: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    @extend %dmsans-regular;
    font-size: 12px;
  }

  &--search {
    background-image: url('../images/icons/search.png');
    width: 16px;
    height: 16px;
  }

  &--heart {
    background-image: url('../images/icons/heart.png');
    width: 19px;
    height: 18px;
  }

  &--cart {
    background-image: url('../images/icons/cart.png');
    width: 19px;
    height: 17px;
  }

  &--krug {
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    transform: translateX(100%);
  }

  &--oval1 {
    width: 90px;
    height: 50px;
    background-color: #fcd7b6;
    transform: translateX(50%);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &--oval2 {
    width: 90px;
    height: 50px;
    background-color: #fcd7b6;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &--menu__btn {
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
    margin: 0;
    position: relative;
  }

  &--menu__dots {
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    display: block;
    border: 3px solid transparent;
    top: 22px;
    left: 23px;
    box-shadow: -10px -11px 0 0 white,
      10px 11px 0 0 white,
      -10px 11px 0 0 white,
      10px -11px 0 0 white,
      0 -11px 0 0 white,
      0 11px 0 0 white,
      10px 0 0 0 white,
      -10px 0 0 0 white;
  }
}

.user__link:hover {
  opacity: 0.7;
}

.user__link:active {
  opacity: 0.5;
}

.slider {
  height: 750px;
  background-color: #fcd7b6;
  align-items: center;
  background-image: url('../images/backsofa.png');
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;

  &__box {
    display: flex !important;
    justify-content: space-around;
    margin-top: 225px;
    padding: 0 175px;
  }

  &__info {
    max-width: 420px;
  }

  &__title {
    @extend %rubik-medium;
    text-transform: uppercase;
    font-size: 72px;
    margin-bottom: 15px;
    color: #243f4d;
  }

  &__text {
    @extend %rubik-regular;
    font-size: 18px;
    color: $accent;
    line-height: 1.7;
    margin-bottom: 45px;
    max-width: 365px;
  }

  &__picture {
    margin-top: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots button {
    margin-right: 12px;
    margin-top: 120px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fde3cc;
    @extend %rubik-medium;
    font-size: 10px;
    color: #708088;
  }

  .slick-active button {
    background-color: #fff;
    color: #243f4d;
  }
}

.footer {
  padding-top: 80px;
  padding-bottom: 40px;

  &__top {
    display: flex;
    margin-bottom: 40px;
  }

  &__info {
    margin-right: 65px;
  }

  &__services {
    margin-right: 180px;
  }

  &__account {
    margin-right: 200px;
  }

  &__logo {
    display: inline-flex;
    margin-bottom: 30px;
  }

  &__title {
    @extend %dmsans-bold;
    font-size: 16px;
    color: $footer__color;
    padding-bottom: 30px;
    text-transform: uppercase;
  }

  &__box {
    max-width: 240px;
  }

  &__info-address,
  &__info-phone,
  &__info-email,
  &__services-item,
  &__account-item {
    padding-bottom: 15px;
  }

  &__info-address:hover,
  &__info-phone:hover,
  &__info-email:hover,
  &__services-item:hover,
  &__account-item:hover {
    text-decoration: underline;
  }

  &__info-address:active,
  &__info-phone:active,
  &__info-email:active,
  &__services-item:active,
  &__account-item:active {
    opacity: 0.5;
  }

  &__info-link,
  &__services-link,
  &__account-link,
  .form__text {
    color: $footer__color2;
    font-size: 14px;
    @extend %rubik-regular;
  }
}

.form {
  &__text {
    padding-bottom: 45px;
  }

  &__field {
    margin-right: 15px;
    width: 115px;
    color: #234969;
    @extend %dmsans-regular;
    font-size: 12px;
    padding: 10px 0;
  }

  &__field:hover {
    text-decoration: underline;
  }

  &__field:focus {
    outline: 2px solid #a3bbc8;
  }

  &__field:active {
    opacity: 0.5;
  }

  &__button {
    padding: 15px 20px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 14px;
    @extend %dmsans-regular;
  }

  &__button:focus {
    outline: 2px solid $button__focus;
  }

  &__button:active {
    opacity: 0.7;
  }
}

.footer {

  &__down {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__down-text,
  &__link {
    color: $footer__color2;
    @extend %rubik-regular;
    font-size: 14px;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link:focus {
    border-radius: 3px;
    outline: 2px solid #a3bbc8;
  }

  &__link:active {
    opacity: 0.5;
  }

  &__menu {
    display: flex;
  }

  &__item {
    padding: 0 15px 0 15px;
    border-right: 1px solid $footer__color2;
  }

  &__item-line {
    border-right: 1px solid transparent;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dae4e9;
}

.product {

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-item {
      padding: 55px 150px 70px 150px;
      background-color: #fef7f0;
      display: flex;
    }

    &-item:not(last-child) {
      border-right: 1px solid #e8e4df;
    }

    &-box {
      margin-left: 40px;
    }

    &-title {
      @extend %dmsans-regular;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }

    &-text {
      color: #585858;
      @extend %dmsans-regular;
      font-size: 16px;
      line-height: 30px;
    }

    &-img {
      margin-top: 15px;
    }

  }

  &__list {
    margin-top: 105px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 120px 0px;
    text-align: center;
  }

  &__img-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
  }

  &__img {
    margin-bottom: 60px;
    text-align: center;
  }

  &__name {
    margin-top: 60px;
    @extend %dmsans-medium;
    color: $accent;
  }

  &__price {
    margin-top: 15px;
    @extend %dmsans-bold;
    color: #a9c0cc;
  }

  &__box {
    max-width: 370px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 270px;
    height: 380px;
    padding: 30px 0;
  }

  &__box-text {
    position: absolute;
    bottom: 65px;
    left: 75px;
  }

  &__panel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 165px;
    top: 180px;
    left: 65px;
    transform: translateX(-150%);
    transition: all .3s;

    &--search,
    &--heart,
    &--cart {
      width: 45px;
      height: 45px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      path {
        fill: rgb(163, 187, 200);
      }
    }
  }

  &__item:hover {
    .product__panel {
      transform: translateX(0)
    }
  }

  &__panel {

    &--search:active,
    &--heart:active,
    &--cart:active {
      opacity: 0.5;
    }

    &--search:hover,
    &--heart:hover,
    &--cart:hover {
      background-color: #a3bbc8;

      path {
        fill: rgb(255, 255, 255);
      }
    }
  }

  &__down {
    margin-top: 175px;
    display: flex;
    justify-content: space-between;
  }

  &__more {
    width: 850px;
    height: 390px;
    background-color: $bg;
    display: flex;
    justify-content: end;
    position: relative;
  }

  &__more::after {
    content: "";
    background-image: url('../images/light.png');
    width: 233px;
    height: 405px;
    position: absolute;
    left: 100px;
    top: -90px;
  }

  &__more-double::after {
    background-image: url('../images/light2.png');
    height: 399px;
  }

  &__more {


    &-box {
      padding: 100px 150px 100px 0;
      width: 500px;
    }

    &--title {
      color: $accent;
      font-size: 26px;
      @extend %dmsans-regular;
      margin-bottom: 30px;
    }

    &--text {
      @extend %rubik-regular;
      color: $accent;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    &--button {
      @extend %rubik-medium;
      font-size: 15px;
      color: $accent;
      width: 200px;
      height: 60px;
      background-color: inherit;
      padding: 0 90px 0 24px;
      position: relative;
      outline: 1px solid $accent;
      border-radius: 5px;
    }

    &--button::after {
      position: absolute;
      content: "";
      background-image: url('../images/arrow_accent.svg');
      width: 22px;
      height: 9px;
      top: 25px;
      right: 20px;
    }

    &--button:focus {
      outline: 2px solid $button__focus;
    }

    &--button:active {
      opacity: 0.7;
    }
  }
}

.design {

  &__box {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }


  &__items {
    width: 370px;
    height: 250px;
    background-image: url('../images/furniture/sofa.jpg');
    padding: 45px 40px;
  }

  &__items1 {
    background-image: url('../images/furniture/bed.jpg');
  }

  &__items2 {
    background-image: url('../images/furniture/chair.jpg');
  }

  &__items3 {
    background-image: url('../images/furniture/bed2.jpg');
  }

  &__items4 {
    background-image: url('../images/furniture/chair2.jpg');
  }

  &__items5 {
    background-image: url('../images/furniture/sofa2.jpg');
  }

  &__title {
    @extend %dmsans-bold;
    font-size: 20px;
    color: #1a1a1a;
    width: 170px;
    margin-bottom: 15px;
  }

  &__text {
    @extend %dmsans-bold;
    color: #a9bfcb;
  }
}

.video {

  margin-top: 135px;

  &__img {
    background-image: url('../images/video_bg.jpg');
    height: 500px;
    width: 100%;
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play {
    width: 100px;
    height: 100px;
    background-color: #a3bbc8;
    position: relative;
    z-index: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__play::after {
    content: "";
    background-image: url('../images/icons/play.svg');
    width: 23px;
    height: 26px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__play::before {
    content: "";
    width: 130px;
    height: 130px;
    background-color: #a3bbc8;
    opacity: 0;
    border-radius: 50%;
    position: absolute;
  }

  &__play:hover::before {
    opacity: 0.5;
  }

  &__play:hover {
    transform: scale(1.5);
  }

  &__play:active {
    transform: scale(0.5);
  }

}

.articles {

  margin-top: 120px;

  &__sub-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  &__title {
    display: inline;
    margin: 0;
  }

  &__link {
    position: relative;
    margin-right: 25px;
    @extend %dmsans-bold;
    border-bottom: 2px solid inherit;
  }

  &__link::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 6px;
    height: 11px;
    right: -25px;
    top: 2px;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link:focus {
    border-radius: 3px;
    outline: 2px solid #a3bbc8;
  }

  &__link:active {
    opacity: 0.5;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
  }

  &__box {
    width: 370px;
    @extend %dmsans-medium;
    line-height: 20px;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      width: 210px;
      margin-left: 45px;
    }
  }

  &__img-box {
    position: relative;
  }

  &__img {
    border-radius: 10px;
  }

  &__img-box--link {
    position: absolute;
    top: 240px;
    left: 30px;
    width: 105px;
    height: 30px;
    background-color: #a3bbc8;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %poppins-bold;
    text-transform: uppercase;
    color: #fff;
  }

  &__img-box--link:hover {
    opacity: 0.7;
  }

  &__img-box--link:focus {
    outline: 2px solid $accent;
  }

  &__img-box--link:active {
    opacity: 0.5;
  }

  &__text {
    width: 315px;
    margin: 35px auto;
    font-size: 18px;
  }
}

.partners {
  margin: 90px 0;

  &__box {
    width: 1170px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.top {
  height: 130px;
  background-color: #edf1f4;

  &__title {
    margin-top: 0;
    padding-top: 30px;
    @extend %rubik-light
  }
}

.breadcrumbs {


  &__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    @extend %rubik-regular;
    color: #9ca1a7;
    font-size: 14px;
    line-height: 24px;
  }

  &__item:not(last-child) {
    padding-right: 20px;
    position: relative;



    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 13px;
      top: 5px;
      left: -14px;
      opacity: 0.6;
      background-image: url(../images/slash.png);
    }

    &:first-child {
      &::after {
        display: none;
      }
    }
  }
}



@import 'media';